<main class="container container--main">
    <article class="item">
        <!-- Imagen del Funko -->
        <picture class="item__cover">
            <img class="item__cover-front" src="<%= item.image_front %>" alt="<%= item.product_description %>">
            <img class="item__cover-back" src="<%= item.image_back %>" alt="<%= item.product_description %>">
        </picture>

        <!-- Descripcion del Funko -->
        <section class="item__content">
            <span class="item__collection"><%= item.licence_id %></span>
            <span class="item__title"><%= item.product_name %></span>
            <span class="item__description"><%= item.product_description %></span>
            <span class="item__price">$<%= item.price %></span>
            <!-- Contenedor para la cantidad a agregar de items al carrito -->
            <form class="amount" action="/item/<%= item.product_id %>/add" method="post">
                <input id="amount__input" class="amount__input input-hide-arrows" type="number" value="1" min="1" max="<%= item.stock %>">
                <!-- Botones para incrementar y decrementar cantidad de items -->
                <div class="amount__btn-container">
                    <a class="amount__btn btn--add" href="#">+</a>
                    <a class="amount__btn btn--substract" href="#">-</a>
                </div>
                <button class="btn-link" href="/pages/shop/cart.html">Agregar al carrito</button>
            </form>

            <!-- Ver los metodos de pago -->
            <a id="modalOpen" class="link__blue link__blue--payment" href="#">Ver métodos de pago - <%= item.dues %> CUOTAS SIN INTERÉS</a>
            <dialog id="modal" class="modal">
                <div id="modalClose" class="modal__close">
                    <iconify-icon icon="icon-park-outline:close-one" width="28" height="28"></iconify-icon>
                </div>
                <picture>
                    <img src="/img/medios_pagos.jpg" alt="Medios de pago">
                </picture>
            </dialog>
        </section>
    </article>
    <!-- Seccion de relacionados -->
    <section class="glide glide--carousel">
        <h2 class="glid__title">PRODUCTOS RELACIONADOS<h2>
        <!-- Slide de cards -->
        <%- include('../../components/glide.ejs', {dbProducts} )%>
    </section>
</main>
<script src="/scripts/item-quantity.js"></script>