<main class="container container--admin">
    <!-- Seccion de busqueda item -->
    <section class="admin-search__container">
        <label for="search">
            <picture><img src="/img/icons/search_icon.svg" alt="Buscar item"></picture>
        </label>
        <input class="input-text--box admin-search__input" id="search" type="search" placeholder="Código, nombre o categoria">
    </section>

    <!-- Cabecera de tabla para agregar item -->
    <section class="table-admin-head__container">
        <h1 class="table-admin-head__title">LISTADO DE PRODUCTOS</h1>
        <div>
            <a class="table-admin-head__add" href="/admin/create">
                <span>AGREGAR</span>
                <picture>
                    <img src="/img/icons/+.svg" alt="Agregar item">
                </picture>
            </a>
        </div>
    </section>

    <!-- Listado de items -->
    <table class="table-admin">
        <thead>
            <tr>
                <th class="table-admin__data--head table-admin__data">ID</t>
                <th class="table-admin__data--head table-admin__data">Código</th>
                <th class="table-admin__data--head table-admin__data">Nombre del producto</th>
                <th class="table-admin__data--head table-admin__data" colspan="2">Categoria</th>
            </tr>
            <tbody id="tbody">
                <% dbProducts.forEach((item) => {%>
                    <tr class="table-admin__row">
                        <td class="table-admin__data"><%= item.product_id %></td>
                        <td class="table-admin__data"><%= item.sku %></td>
                        <td class="table-admin__data"><%= item.product_name %></td>
                        <td class="table-admin__data"><%= item.product_licence_id %></td>
                        <td class="table-admin__data">
                            <a class="table-admin__btn" href="/admin/edit/<%= item.product_id %>">
                                <img src="/img/icons/edit_pencil.svg" alt="Editar item">
                            </a>
                            <a class="table-admin__btn" href="#">
                                <img class="alert-delet__btn" src="/img/icons/delete_trash.svg" alt="Eliminar item">
                            </a>
                        </td>
                    </tr>
                <%})%>
            </tbody>

            <dialog class="alert-delet">
                <form id="alert-delet__form" method="POST">
                    <p class="alert-delet__text">¿Eliminar el item <span></span>?</p>
                    <menu class="alert-delet__buttons-container">
                        <button class="btn btn--admin-confirm" type="submit">Confirmar</button>
                        <button class="btn btn--admin-delet" type="reset">Cancelar</button>
                    </menu>
                </form>
            </dialog>
        </thead>
    </table>
</main>
<script src="/scripts/admin.js"></script>
<script src="/scripts/modal.js"></script>